.form-container {
    display: flex;
    background-color: #0EBE7F;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.signup-form {
    border: 1px solid gray;
    background-color: #ffffff;
    padding: 30px;
    width: 30%;
}

.loginLink {
    display: block;
    text-align: center;
    color: #0EBE7F;
  }
  
  .signupTitle {
    color: #0EBE7F;
    text-align: center;
  }

  .signup-form .ant-form-item-label label {
    color: #0EBE7F;
  }

  .custom-button {
    background-color: #0EBE7F; 
    color: #FFFFFF;
  }